@media only screen and (min-width: 768px) {
    .aboutMe{
        &__tittleWrapper{
            margin: 30px auto;
        }
        &__text{
            margin: 0 20%;
            border-radius: 15px;
            padding: 40px 50px;
        }
        &__photo{
            right: -160px;
        }
    }
    .pageTittle{
        height: 40px !important;
        padding: 30px;
        width: auto;
    }
    .pageSVG{
        position: fixed;
        top: 60%;

    }

    .projects{
       
        &__content{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;

        }
        &__cards{
            width: 50%;
        }
        &__SVG{
            position: sticky;
            
        }
    }
  }